openapi: 3.1.0
info:
  title: SRA Resource Management System API
  version: 1.0.0
  description: >
    Business-layer API for the SRA Resource Management System (SRA-RMS).
    Provides CRUD over Clients, Projects, Resources, and Allocations, plus
    dashboard and reporting endpoints. Authentication is delegated to
    Microsoft Active Directory (OAuth2 / OpenID Connect); authorization is
    role-based (Administrator, General, Report).
  contact:
    name: SRA
    email: umesh.kodippili@sra.com.au
  license:
    name: Proprietary - SRA

servers:
  - url: https://api.rms.sra.com.au/v1
    description: Production
  - url: https://api.staging.rms.sra.com.au/v1
    description: Staging
  - url: http://localhost:5000/v1
    description: Local development

security:
  - oauth2: []

tags:
  - name: Clients
  - name: Projects
  - name: Resources
  - name: Allocations
  - name: Dashboard
  - name: Reports
  - name: Reference data
  - name: Time off

paths:
  # ---------------- Clients ----------------
  /clients:
    get:
      tags: [Clients]
      summary: List clients
      operationId: listClients
      description: Roles - Administrator, General.
      parameters:
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: A paged list of clients.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPage'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Clients]
      summary: Create a client
      operationId: createClient
      description: Roles - Administrator.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClientCreate' }
      responses:
        '201':
          description: Client created.
          headers:
            Location: { $ref: '#/components/headers/Location' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /clients/{clientId}:
    parameters:
      - $ref: '#/components/parameters/ClientId'
    get:
      tags: [Clients]
      summary: Get a client
      operationId: getClient
      description: Roles - Administrator, General. Includes projects and aggregated team.
      responses:
        '200':
          description: The client.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClientDetail' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Clients]
      summary: Update a client
      operationId: updateClient
      description: Roles - Administrator.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClientUpdate' }
      responses:
        '200':
          description: Client updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Client' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [Clients]
      summary: Delete a client
      operationId: deleteClient
      description: >
        Roles - Administrator. Fails with 409 if the client has projects,
        unless cascade=true is supplied.
      parameters:
        - $ref: '#/components/parameters/Cascade'
      responses:
        '204': { description: Client deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /clients/{clientId}/projects:
    parameters:
      - $ref: '#/components/parameters/ClientId'
    get:
      tags: [Clients]
      summary: List a client's projects
      operationId: listClientProjects
      description: Roles - Administrator, General.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A paged list of the client's projects.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectPage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ---------------- Projects ----------------
  /projects:
    get:
      tags: [Projects]
      summary: List projects
      operationId: listProjects
      description: Roles - Administrator, General.
      parameters:
        - $ref: '#/components/parameters/Search'
        - name: clientId
          in: query
          schema: { type: string, format: uuid }
        - name: billable
          in: query
          schema: { type: boolean }
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/ProjectStatus' }
        - name: startsAfter
          in: query
          schema: { type: string, format: date }
        - name: endsBefore
          in: query
          schema: { type: string, format: date }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: A paged list of projects.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectPage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Projects]
      summary: Create a project
      operationId: createProject
      description: Roles - Administrator.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProjectCreate' }
      responses:
        '201':
          description: Project created.
          headers:
            Location: { $ref: '#/components/headers/Location' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /projects/{projectId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Projects]
      summary: Get a project
      operationId: getProject
      description: Roles - Administrator, General. Includes allocated resources.
      responses:
        '200':
          description: The project.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectDetail' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Projects]
      summary: Update a project
      operationId: updateProject
      description: >-
        Roles - Administrator. Fails with 409 if the project code is already in
        use, or if narrowing the date window would leave existing allocations
        outside it (adjust or delete those allocations first).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProjectUpdate' }
      responses:
        '200':
          description: Project updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [Projects]
      summary: Delete a project
      operationId: deleteProject
      description: >
        Roles - Administrator. Fails with 409 if the project has allocations,
        unless cascade=true is supplied.
      parameters:
        - $ref: '#/components/parameters/Cascade'
      responses:
        '204': { description: Project deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /projects/{projectId}/allocations:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Projects]
      summary: List a project's allocations
      operationId: listProjectAllocations
      description: Roles - Administrator, General.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A paged list of the project's allocations.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AllocationPage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [Projects]
      summary: Allocate a resource to this project
      operationId: createProjectAllocation
      description: >
        Roles - Administrator. Validates allocation dates against the project
        window and warns (via warnings array on 201) on over-allocation.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AllocationCreate' }
      responses:
        '201':
          description: Allocation created.
          headers:
            Location: { $ref: '#/components/headers/Location' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Allocation' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  # ---------------- Resources ----------------
  /projects/{projectId}/phases:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Projects]
      summary: List a project's phases
      operationId: listProjectPhases
      description: Roles - Administrator, General.
      responses:
        '200':
          description: Phases ordered by sortOrder, then start date.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ProjectPhase' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [Projects]
      summary: Add a phase to a project
      operationId: createProjectPhase
      description: Roles - Administrator. The phase must fall within the project window.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProjectPhaseCreate' }
      responses:
        '201':
          description: Phase created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectPhase' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /projects/{projectId}/phases/{phaseId}:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string, format: uuid }
      - name: phaseId
        in: path
        required: true
        schema: { type: string, format: uuid }
    put:
      tags: [Projects]
      summary: Update a phase
      operationId: updateProjectPhase
      description: Roles - Administrator.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProjectPhaseUpdate' }
      responses:
        '200':
          description: Phase updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectPhase' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Projects]
      summary: Delete a phase
      operationId: deleteProjectPhase
      description: Roles - Administrator.
      responses:
        '204': { description: Phase deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /projects/{projectId}/milestones:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Projects]
      summary: List a project's milestones
      operationId: listProjectMilestones
      description: Roles - Administrator, General.
      responses:
        '200':
          description: Milestones ordered by due date.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ProjectMilestone' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [Projects]
      summary: Add a milestone to a project
      operationId: createProjectMilestone
      description: Roles - Administrator. The due date must fall within the project window.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProjectMilestoneCreate' }
      responses:
        '201':
          description: Milestone created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectMilestone' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /projects/{projectId}/milestones/{milestoneId}:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string, format: uuid }
      - name: milestoneId
        in: path
        required: true
        schema: { type: string, format: uuid }
    put:
      tags: [Projects]
      summary: Update a milestone
      operationId: updateProjectMilestone
      description: Roles - Administrator.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProjectMilestoneUpdate' }
      responses:
        '200':
          description: Milestone updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectMilestone' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Projects]
      summary: Delete a milestone
      operationId: deleteProjectMilestone
      description: Roles - Administrator.
      responses:
        '204': { description: Milestone deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /resources:
    get:
      tags: [Resources]
      summary: List resources
      operationId: listResources
      description: Roles - Administrator, General. Supports skill/department/location/status filters.
      parameters:
        - $ref: '#/components/parameters/Search'
        - name: skill
          in: query
          description: Filter by one or more skill tags (AND semantics).
          schema:
            type: array
            items: { type: string }
          style: form
          explode: true
        - name: department
          in: query
          schema: { type: string }
        - name: location
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/ResourceStatus' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: A paged list of resources.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResourcePage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Resources]
      summary: Create a resource
      operationId: createResource
      description: Roles - Administrator.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResourceCreate' }
      responses:
        '201':
          description: Resource created.
          headers:
            Location: { $ref: '#/components/headers/Location' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /resources/{resourceId}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      tags: [Resources]
      summary: Get a resource
      operationId: getResource
      description: Roles - Administrator, General. Includes current and historical allocations.
      responses:
        '200':
          description: The resource.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResourceDetail' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Resources]
      summary: Update a resource
      operationId: updateResource
      description: Roles - Administrator.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResourceUpdate' }
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [Resources]
      summary: Delete a resource
      operationId: deleteResource
      description: >
        Roles - Administrator. Fails with 409 if the resource has allocations,
        unless cascade=true is supplied.
      parameters:
        - $ref: '#/components/parameters/Cascade'
      responses:
        '204': { description: Resource deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /resources/{resourceId}/image:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      tags: [Resources]
      summary: Get a resource profile image
      operationId: getResourceImage
      description: >-
        Roles - Administrator, General. Profile images contain personal data
        (NFR-SEC-5) and are served only through this authenticated endpoint;
        they are not available as anonymous static files.
      responses:
        '200':
          description: The image bytes.
          content:
            image/png:
              schema: { type: string, format: binary }
            image/jpeg:
              schema: { type: string, format: binary }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Resources]
      summary: Upload a resource profile image
      operationId: uploadResourceImage
      description: >-
        Roles - Administrator. Maximum size 5 MB; the body must match the
        declared content type's file signature. The stored image is exposed at
        GET /resources/{resourceId}/image (the Resource's imageUrl).
      requestBody:
        required: true
        content:
          image/png:
            schema: { type: string, format: binary }
          image/jpeg:
            schema: { type: string, format: binary }
      responses:
        '200':
          description: Image stored.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /resources/{resourceId}/allocations:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    get:
      tags: [Resources]
      summary: List a resource's allocations
      operationId: listResourceAllocations
      description: Roles - Administrator, General.
      parameters:
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A paged list of the resource's allocations.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AllocationPage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ---------------- Allocations ----------------
  /allocations:
    get:
      tags: [Allocations]
      summary: List allocations
      operationId: listAllocations
      description: Roles - Administrator, General. Filter by project, resource, or date range.
      parameters:
        - name: projectId
          in: query
          schema: { type: string, format: uuid }
        - name: resourceId
          in: query
          schema: { type: string, format: uuid }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: A paged list of allocations.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AllocationPage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Allocations]
      summary: Create an allocation
      operationId: createAllocation
      description: >
        Roles - Administrator. projectId and resourceId are supplied in the body.
        Validates dates against the project window; over-allocation returns
        warnings on the created object.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AllocationCreateFull' }
      responses:
        '201':
          description: Allocation created.
          headers:
            Location: { $ref: '#/components/headers/Location' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Allocation' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /allocations/{allocationId}:
    parameters:
      - $ref: '#/components/parameters/AllocationId'
    get:
      tags: [Allocations]
      summary: Get an allocation
      operationId: getAllocation
      description: Roles - Administrator, General.
      responses:
        '200':
          description: The allocation.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Allocation' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Allocations]
      summary: Update an allocation
      operationId: updateAllocation
      description: Roles - Administrator.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AllocationUpdate' }
      responses:
        '200':
          description: Allocation updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Allocation' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [Allocations]
      summary: Delete an allocation
      operationId: deleteAllocation
      description: Roles - Administrator.
      responses:
        '204': { description: Allocation deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ---------------- Dashboard ----------------
  /timeoff:
    get:
      tags: [Time off]
      summary: List time off
      operationId: listTimeOff
      description: >
        Roles - Administrator, General. `from`/`to` match by *overlap*: leave
        spanning the window edges is included.
      parameters:
        - name: resourceId
          in: query
          schema: { type: string, format: uuid }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - name: type
          in: query
          schema: { $ref: '#/components/schemas/TimeOffType' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Paged time off.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TimeOffPage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Time off]
      summary: Record time off
      operationId: createTimeOff
      description: >
        Roles - Administrator. Overlapping leave for the same resource is
        rejected with 409 so capacity is not double-counted.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TimeOffCreate' }
      responses:
        '201':
          description: Time off recorded.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TimeOff' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /timeoff/{timeOffId}:
    parameters:
      - name: timeOffId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Time off]
      summary: Get one time-off record
      operationId: getTimeOff
      description: Roles - Administrator, General.
      responses:
        '200':
          description: The time-off record.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TimeOff' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Time off]
      summary: Update a time-off record
      operationId: updateTimeOff
      description: Roles - Administrator.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TimeOffUpdate' }
      responses:
        '200':
          description: Time off updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TimeOff' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [Time off]
      summary: Delete a time-off record
      operationId: deleteTimeOff
      description: Roles - Administrator.
      responses:
        '204': { description: Time off deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /dashboard/summary:
    get:
      tags: [Dashboard]
      summary: Dashboard headline metrics
      operationId: getDashboardSummary
      description: Roles - Administrator, General.
      parameters:
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Dashboard summary.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardSummary' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /dashboard/gantt:
    get:
      tags: [Dashboard]
      summary: Gantt data for projects and/or resources
      operationId: getGantt
      description: Roles - Administrator, General.
      parameters:
        - name: view
          in: query
          required: true
          schema: { type: string, enum: [projects, resources] }
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
        - name: clientId
          in: query
          schema: { type: string, format: uuid }
        - name: department
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Gantt rows for the requested view and window.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GanttResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  # ---------------- Reports ----------------
  /reports/utilisation:
    get:
      tags: [Reports]
      summary: Resource utilisation report
      operationId: getUtilisationReport
      description: Roles - Report.
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
        - name: department
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/ReportFormat'
      responses:
        '200':
          description: Utilisation report (JSON or CSV per format).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UtilisationReport' }
            text/csv:
              schema: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /reports/allocation:
    get:
      tags: [Reports]
      summary: Allocation report by project and resource
      operationId: getAllocationReport
      description: Roles - Report.
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
        - name: clientId
          in: query
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/ReportFormat'
      responses:
        '200':
          description: Allocation report.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AllocationReport' }
            text/csv:
              schema: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /reports/budget:
    get:
      tags: [Reports]
      summary: Budget consumption report
      operationId: getBudgetReport
      description: Roles - Report.
      parameters:
        - name: clientId
          in: query
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/ReportFormat'
      responses:
        '200':
          description: Budget consumption report.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BudgetReport' }
            text/csv:
              schema: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  # ---------------- Reference data ----------------
  /reference/{collection}:
    parameters:
      - name: collection
        in: path
        required: true
        schema:
          type: string
          enum: [departments, locations, jobTitles, skills, resourceStatuses, activityTypes]
    get:
      tags: [Reference data]
      summary: List reference data values
      operationId: listReferenceData
      description: Roles - Administrator, General.
      responses:
        '200':
          description: Reference data values.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ReferenceItem' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Reference data]
      summary: Add a reference data value
      operationId: createReferenceData
      description: Roles - Administrator.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReferenceItemCreate' }
      responses:
        '201':
          description: Reference value created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReferenceItem' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Active Directory / Entra ID (OpenID Connect).
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            api://sra-rms/access_as_user: Access the SRA-RMS API as the signed-in user.

  headers:
    Location:
      description: URI of the newly created resource.
      schema: { type: string, format: uri }

  parameters:
    Search:
      name: q
      in: query
      description: Free-text search term.
      schema: { type: string }
    Page:
      name: page
      in: query
      description: 1-based page number.
      schema: { type: integer, minimum: 1, default: 1 }
    PageSize:
      name: pageSize
      in: query
      description: Items per page.
      schema: { type: integer, minimum: 1, maximum: 200, default: 25 }
    Sort:
      name: sort
      in: query
      description: 'Sort expression, e.g. "name" or "-startDate" (prefix - for descending).'
      schema: { type: string }
    Cascade:
      name: cascade
      in: query
      description: If true, delete dependents instead of returning 409.
      schema: { type: boolean, default: false }
    ReportFormat:
      name: format
      in: query
      description: Output format.
      schema: { type: string, enum: [json, csv], default: json }
    ClientId:
      name: clientId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ProjectId:
      name: projectId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ResourceId:
      name: resourceId
      in: path
      required: true
      schema: { type: string, format: uuid }
    AllocationId:
      name: allocationId
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    BadRequest:
      description: The request was invalid.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Unauthorized:
      description: Authentication is required or has failed.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Forbidden:
      description: The authenticated user lacks the required role.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: The requested resource was not found.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Conflict:
      description: The request conflicts with the current state (e.g. duplicate or dependents exist).
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

  schemas:
    Problem:
      type: object
      description: RFC 9457 problem details.
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
        errors:
          type: object
          additionalProperties:
            type: array
            items: { type: string }

    PageMeta:
      type: object
      required: [page, pageSize, totalItems, totalPages]
      properties:
        page: { type: integer }
        pageSize: { type: integer }
        totalItems: { type: integer }
        totalPages: { type: integer }

    # ---- Enums ----
    ProjectStatus:
      type: string
      enum: [planned, active, onHold, completed, cancelled]
    ResourceStatus:
      type: string
      enum: [active, inactive, onLeave]
    DayOfWeek:
      type: string
      enum: [monday, tuesday, wednesday, thursday, friday, saturday, sunday]
    BookableStatus:
      type: string
      enum: [bookable, nonBookable]
    TimeOffType:
      type: string
      enum: [annualLeave, personal, sick, publicHoliday, other]
    MilestoneStatus:
      type: string
      enum: [pending, met, missed]
    ProjectBudgetType:
      type: string
      description: >
        Which budget is in force. 'fee' requires `budget`; 'hours' requires
        `budgetHours`; 'none' requires neither.
      enum: [none, fee, hours]
    EffortUnit:
      type: string
      enum: [hoursPerWeek, percent]

    # ---- Client ----
    ClientBase:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
    ClientCreate:
      allOf:
        - $ref: '#/components/schemas/ClientBase'
        - type: object
          required: [name]
    ClientUpdate:
      allOf:
        - $ref: '#/components/schemas/ClientBase'
        - type: object
          required: [name]
    Client:
      allOf:
        - $ref: '#/components/schemas/ClientBase'
        - type: object
          required: [id, name]
          properties:
            id: { type: string, format: uuid }
            projectCount: { type: integer }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }
    ClientDetail:
      allOf:
        - $ref: '#/components/schemas/Client'
        - type: object
          properties:
            projects:
              type: array
              items: { $ref: '#/components/schemas/Project' }
            team:
              type: array
              description: Distinct resources allocated across the client's projects.
              items: { $ref: '#/components/schemas/ResourceSummary' }
    ClientPage:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Client' }
        meta: { $ref: '#/components/schemas/PageMeta' }

    # ---- Project ----
    ProjectBase:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        code: { type: string, minLength: 1, maxLength: 50 }
        clientId: { type: string, format: uuid }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date }
        budget: { type: number, format: double, minimum: 0 }
        remaining: { type: number, format: double, minimum: 0 }
        billable: { type: boolean, default: true }
        status: { $ref: '#/components/schemas/ProjectStatus' }
        budgetType: { $ref: '#/components/schemas/ProjectBudgetType' }
        budgetHours:
          type: number
          format: double
          minimum: 0
          description: Hour budget; required when budgetType is 'hours'.
        remainingHours: { type: number, format: double, minimum: 0 }
        activityTypes:
          type: array
          description: Values from the activityTypes reference collection.
          items: { type: string }
        details: { type: string }
        colour:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          description: Display colour used on the Schedule and Gantt.
    ProjectCreate:
      allOf:
        - $ref: '#/components/schemas/ProjectBase'
        - type: object
          required: [name, code, clientId, startDate, endDate]
    ProjectUpdate:
      allOf:
        - $ref: '#/components/schemas/ProjectBase'
        - type: object
          required: [name, code, startDate, endDate]
    Project:
      allOf:
        - $ref: '#/components/schemas/ProjectBase'
        - type: object
          required: [id, name, code, clientId, startDate, endDate]
          properties:
            id: { type: string, format: uuid }
            clientName: { type: string }
            team:
              type: array
              description: Distinct people allocated to the project.
              items: { $ref: '#/components/schemas/ResourceSummary' }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }
    ProjectDetail:
      allOf:
        - $ref: '#/components/schemas/Project'
        - type: object
          properties:
            allocations:
              type: array
              items: { $ref: '#/components/schemas/Allocation' }
            phases:
              type: array
              description: Ordered by sortOrder, then start date.
              items: { $ref: '#/components/schemas/ProjectPhase' }
            milestones:
              type: array
              description: Ordered by due date.
              items: { $ref: '#/components/schemas/ProjectMilestone' }

    # ---- Project phase / milestone ----
    ProjectPhaseBase:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date }
        colour: { type: string, pattern: '^#[0-9A-Fa-f]{6}$' }
        sortOrder: { type: integer, default: 0 }
    ProjectPhaseCreate:
      allOf:
        - $ref: '#/components/schemas/ProjectPhaseBase'
        - type: object
          required: [name, startDate, endDate]
    ProjectPhaseUpdate:
      allOf:
        - $ref: '#/components/schemas/ProjectPhaseBase'
        - type: object
          required: [name, startDate, endDate]
    ProjectPhase:
      allOf:
        - $ref: '#/components/schemas/ProjectPhaseBase'
        - type: object
          required: [id, projectId, name, startDate, endDate]
          properties:
            id: { type: string, format: uuid }
            projectId: { type: string, format: uuid }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }
    ProjectMilestoneBase:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        dueDate: { type: string, format: date }
        status: { $ref: '#/components/schemas/MilestoneStatus' }
        note: { type: string }
    ProjectMilestoneCreate:
      allOf:
        - $ref: '#/components/schemas/ProjectMilestoneBase'
        - type: object
          required: [name, dueDate]
    ProjectMilestoneUpdate:
      allOf:
        - $ref: '#/components/schemas/ProjectMilestoneBase'
        - type: object
          required: [name, dueDate]
    ProjectMilestone:
      allOf:
        - $ref: '#/components/schemas/ProjectMilestoneBase'
        - type: object
          required: [id, projectId, name, dueDate]
          properties:
            id: { type: string, format: uuid }
            projectId: { type: string, format: uuid }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }
    ProjectPage:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Project' }
        meta: { $ref: '#/components/schemas/PageMeta' }

    # ---- Resource ----
    ResourceBase:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        email: { type: string, format: email }
        primaryJobTitle: { type: string }
        secondaryJobTitle: { type: string }
        status: { $ref: '#/components/schemas/ResourceStatus' }
        department: { type: string }
        location: { type: string }
        notes: { type: string }
        skills:
          type: array
          items: { type: string }
        availabilityHoursPerWeek: { type: number, format: double, minimum: 0, maximum: 168 }
        workingDays:
          type: array
          items: { $ref: '#/components/schemas/DayOfWeek' }
        jobRole:
          type: string
          description: Delivery role, distinct from primaryJobTitle (the HR job title).
        managerId: { type: string, format: uuid }
        phone: { type: string }
        secondarySkills:
          type: array
          description: Secondary skills; `skills` carries the primary set.
          items: { type: string }
        securityClearances:
          type: array
          items: { type: string }
        securityNpcObtainedOn: { type: string, format: date }
        certifications:
          type: array
          items: { type: string }
        timeZone:
          type: string
          description: IANA time-zone name, e.g. Australia/Adelaide.
        bookableStatus: { $ref: '#/components/schemas/BookableStatus' }
        publicHolidayCalendar: { type: string }
        defaultRateHourly: { type: number, format: double, minimum: 0 }
        colour: { type: string, pattern: '^#[0-9A-Fa-f]{6}$' }
    ResourceCreate:
      allOf:
        - $ref: '#/components/schemas/ResourceBase'
        - type: object
          required: [name, email, primaryJobTitle, availabilityHoursPerWeek]
    ResourceUpdate:
      allOf:
        - $ref: '#/components/schemas/ResourceBase'
        - type: object
          required: [name, email, primaryJobTitle, availabilityHoursPerWeek]
    Resource:
      allOf:
        - $ref: '#/components/schemas/ResourceBase'
        - type: object
          required: [id, name, email]
          properties:
            id: { type: string, format: uuid }
            imageUrl: { type: string, format: uri }
            managerName:
              type: string
              description: >
                Resolved manager name. Populated on the detail endpoint only;
                list responses omit it rather than issue a query per row.
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }
    ResourceSummary:
      type: object
      required: [id, name]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        primaryJobTitle: { type: string }
        imageUrl: { type: string, format: uri }
    ResourceDetail:
      allOf:
        - $ref: '#/components/schemas/Resource'
        - type: object
          properties:
            allocations:
              type: array
              items: { $ref: '#/components/schemas/Allocation' }
            allocatedHoursPerWeek:
              type: number
              format: double
              description: Sum of current allocations' effort in hours/week.
            timeOff:
              type: array
              items: { $ref: '#/components/schemas/TimeOff' }
    ResourcePage:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Resource' }
        meta: { $ref: '#/components/schemas/PageMeta' }

    # ---- Allocation ----
    AllocationBase:
      type: object
      properties:
        startDate: { type: string, format: date }
        endDate: { type: string, format: date }
        effort: { type: number, format: double, minimum: 0 }
        effortUnit: { $ref: '#/components/schemas/EffortUnit' }
        roleOnProject: { type: string }
        billable: { type: boolean }
    AllocationCreate:
      description: Used when the project is known from the path.
      allOf:
        - $ref: '#/components/schemas/AllocationBase'
        - type: object
          required: [resourceId, startDate, endDate, effort, effortUnit]
          properties:
            resourceId: { type: string, format: uuid }
    AllocationCreateFull:
      description: Used on the top-level /allocations endpoint.
      allOf:
        - $ref: '#/components/schemas/AllocationBase'
        - type: object
          required: [projectId, resourceId, startDate, endDate, effort, effortUnit]
          properties:
            projectId: { type: string, format: uuid }
            resourceId: { type: string, format: uuid }
    AllocationUpdate:
      allOf:
        - $ref: '#/components/schemas/AllocationBase'
        - type: object
          required: [startDate, endDate, effort, effortUnit]
    Allocation:
      allOf:
        - $ref: '#/components/schemas/AllocationBase'
        - type: object
          required: [id, projectId, resourceId, startDate, endDate, effort, effortUnit]
          properties:
            id: { type: string, format: uuid }
            projectId: { type: string, format: uuid }
            projectName: { type: string }
            resourceId: { type: string, format: uuid }
            resourceName: { type: string }
            warnings:
              type: array
              description: Non-blocking validation warnings, e.g. over-allocation.
              items: { type: string }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }
    AllocationPage:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Allocation' }
        meta: { $ref: '#/components/schemas/PageMeta' }

    # ---- Dashboard ----
    DashboardSummary:
      type: object
      properties:
        activeProjects: { type: integer }
        totalResources: { type: integer }
        averageUtilisation: { type: number, format: double, description: 'Fraction 0..1.' }
        overAllocatedResources: { type: integer }
        underAllocatedResources: { type: integer }
        budgetAtRisk: { type: number, format: double }
        upcomingProjectStarts:
          type: array
          items: { $ref: '#/components/schemas/Project' }
        upcomingRollOffs:
          type: array
          items: { $ref: '#/components/schemas/Allocation' }

    GanttResponse:
      type: object
      required: [view, from, to, rows]
      properties:
        view: { type: string, enum: [projects, resources] }
        from: { type: string, format: date }
        to: { type: string, format: date }
        rows:
          type: array
          items: { $ref: '#/components/schemas/GanttRow' }
    GanttRow:
      type: object
      required: [id, label, bars]
      properties:
        id: { type: string }
        label: { type: string }
        bars:
          type: array
          items: { $ref: '#/components/schemas/GanttBar' }
    GanttBar:
      type: object
      required: [start, end]
      properties:
        refId: { type: string, format: uuid }
        label: { type: string }
        start: { type: string, format: date }
        end: { type: string, format: date }
        effort: { type: number, format: double }
        effortUnit: { $ref: '#/components/schemas/EffortUnit' }
        overAllocated: { type: boolean }

    # ---- Time off ----
    TimeOffBase:
      type: object
      properties:
        startDate: { type: string, format: date }
        endDate: { type: string, format: date }
        type: { $ref: '#/components/schemas/TimeOffType' }
        hoursPerDay:
          type: number
          format: double
          minimum: 0.01
          maximum: 24
          description: Omit for a full working day; set for partial-day leave.
        note: { type: string }
    TimeOffCreate:
      allOf:
        - $ref: '#/components/schemas/TimeOffBase'
        - type: object
          required: [resourceId, startDate, endDate]
          properties:
            resourceId: { type: string, format: uuid }
    TimeOffUpdate:
      allOf:
        - $ref: '#/components/schemas/TimeOffBase'
        - type: object
          required: [startDate, endDate]
    TimeOff:
      allOf:
        - $ref: '#/components/schemas/TimeOffBase'
        - type: object
          required: [id, resourceId, startDate, endDate]
          properties:
            id: { type: string, format: uuid }
            resourceId: { type: string, format: uuid }
            resourceName: { type: string }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }
    TimeOffPage:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/TimeOff' }
        meta: { $ref: '#/components/schemas/PageMeta' }

    # ---- Reports ----
    UtilisationReport:
      type: object
      properties:
        from: { type: string, format: date }
        to: { type: string, format: date }
        rows:
          type: array
          items:
            type: object
            properties:
              resourceId: { type: string, format: uuid }
              resourceName: { type: string }
              department: { type: string }
              availableHours: { type: number, format: double }
              allocatedHours: { type: number, format: double }
              utilisation: { type: number, format: double }
              timeOffHours:
                type: number
                format: double
                description: Working-day hours lost to leave in the window (V002).
              effectiveCapacityHours:
                type: number
                format: double
                description: >
                  availableHours minus timeOffHours. `utilisation` is deliberately
                  measured against gross availableHours, not this figure, so the
                  ratio is unchanged by the V002 model.
    AllocationReport:
      type: object
      properties:
        from: { type: string, format: date }
        to: { type: string, format: date }
        rows:
          type: array
          items:
            type: object
            properties:
              projectId: { type: string, format: uuid }
              projectName: { type: string }
              clientName: { type: string }
              resourceId: { type: string, format: uuid }
              resourceName: { type: string }
              allocatedHours: { type: number, format: double }
              billable: { type: boolean }
    BudgetReport:
      type: object
      properties:
        rows:
          type: array
          items:
            type: object
            properties:
              clientName: { type: string }
              projectId: { type: string, format: uuid }
              projectName: { type: string }
              budget: { type: number, format: double }
              remaining: { type: number, format: double }
              consumed: { type: number, format: double }
              percentConsumed: { type: number, format: double }

    # ---- Reference data ----
    ReferenceItem:
      type: object
      required: [id, value]
      properties:
        id: { type: string, format: uuid }
        value: { type: string }
        active: { type: boolean, default: true }
    ReferenceItemCreate:
      type: object
      required: [value]
      properties:
        value: { type: string, minLength: 1 }
